@import './variables.css';

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(247, 199, 196, 0.1);
}

section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
    padding-block: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.25rem;
    padding-inline: 1.75rem;

    /* nav */

    .nav-list {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .button-register {
            background-color: hsl(var(--salmon));
            border: none;
            color: white;
            padding: 0.3rem 1rem;
            border-radius: 4px;
            font-weight: 500;
            font-size: 0.875rem;
            box-shadow: 6px 7px 24px 0px #ea8d8880;
        }

        li > * {
            cursor: pointer;
        }
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        width: 2rem;
        gap: 0.3rem;
        align-items: flex-end;

        li.bar {
            height: 1.9px;
            width: 100%;
            background-color: hsl(var(--light-grey));
        }

        li.bar:nth-child(1) {
            width: 80%;
        }
        li.bar:nth-child(2) {
            width: 90%;
        }
        li.bar:nth-child(3) {
            width: 60%;
        }
    }
}

/* MAIN*/

/* hero-section */
.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    .pink-card {
        border-radius: var(--smaller-size-text);
        padding: 1rem 1.5rem;
        box-shadow: rgba(238, 149, 145, 0.7) 0px 7px 29px 0px;
        background-color: hsl(var(--salmon));
        color: white;

        p:first-child {
            font-weight: 700;
        }

        p:nth-child(2) {
            font-size: var(--small-size-text);
        }
    }

    .sublinhado {
        text-decoration: underline;
    }

    /* caixa de pontos em formato de L*/
    .dot-box {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .dot {
        background-color: #f3080856;
    }
}

/* percent-section */
.percent-section {
    background-color: white;

    .pinks-cards-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
        justify-content: center;
        gap: 2rem;
    }

    .pink-card {
        position: relative;
        padding: 0.8rem 2rem;
        border-radius: 1.2rem;
        text-align: left;
        border: 8px solid #f4f4f4;
        background: linear-gradient(117.78deg, #f9a8a5 34.55%, #e28a86 79.96%);
        color: white;
    }

    .pink-card h2 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .pink-card p:first-of-type {
        margin-bottom: 1rem;
    }

    .pink-card p:nth-of-type(2) {
        color: hsla(0, 0%, 100%, 0.5); /* Branco com 50% de opacidade */
        font-size: var(--smaller-size-text);
    }

    /* caixa de pontos em formato de L*/
    .dot-box {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .dot {
        background-color: #ffffff56;
    }
}

/* socials-section */
.socials-section {
    text-align: center;

    .socials-box-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 3rem;
        justify-content: center;
    }

    .socials-box {
        /* cada caixa das redes sociais */
        border-radius: var(--small-box-border-radius);
        background-color: white;
        box-shadow: 30px 30px 60px 0px #5555551a;
        padding: 2.5rem 1rem;

        p {
            font-size: var(--small-size-text);
            font-weight: 500;
            margin-top: 1rem;
        }

        img {
            width: 46px;
            border-radius: 50%;
            border: 1px solid hsl(var(--light-grey));
            box-shadow: 6px 6px 16px 0px #0000001c;
        }

        ul {
            /* imagens */
            display: flex;
            justify-content: center;

            li:nth-child(n + 2) {
                /* seleciona todas menos a prmeira */
                margin-left: -20px;
            }
        }
    }
}

/* digitalisasi-section */
.digitalisasi-section {
    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    ul li {
        font-weight: 700;
        color: hsl(var(--light-grey));
    }
}

/* tokens-section */
.tokens-section {
    .tokens-box-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1.25rem;
        justify-content: center;
    }

    .tokens-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem 0.5rem;
        background-color: white;
        box-shadow: 30px 30px 60px 0px #5555551a;
        border-radius: var(--small-box-border-radius);
        font-size: var(--normal-size-text);
        font-weight: 500;

        img {
            width: max-content;
            border-radius: 50%;
        }
    }
}

/* mentor-section */
.mentor-section {
    text-align: center;

    .mentor-box-area {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1.25rem;
        justify-items: start; /* Alinha todos os itens à esquerda */
        text-align: left;
    }

    .mentor-box {
        display: flex;
        flex-direction: column;
        grid-gap: 0.25rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    img {
        border-radius: 15px;
    }

    p.text-salmon {
        font-size: 0.75rem;
    }

    .mentor-box img {
        width: max-content;
    }
}

/* testimonial-section */
.testimonial-section {
    .user-box {
        display: flex;
        gap: 1.5rem;
    }

    .user-box img {
        border-radius: 0 50% 50% 50%;
    }

    .user-box-text-area p:nth-child(2) {
        font-size: 0.75rem;
    }

    .next-text {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: hsl(var(--salmon));
    border-top-right-radius: 25%;
    color: white;
    padding: 3rem 1rem 2rem;
    margin-top: 4rem;

    img {
        width: max-content;
    }

    .footer-text-area {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media (min-width: 625px) {
    section {
        padding-inline: 3rem;
    }

    /* hero-section */
    .hero-section {
        align-items: start;

        h1 {
            font-size: 4.375rem;
        }

        > p:first-of-type {
            width: 69%;
        }
        ul {
            gap: 2rem;
        }
    }

    .socials-section {
        .socials-box-area {
            grid-template-columns: minmax(250px, 300px) minmax(250px, 300px);
        }
        .socials-box {
            padding-inline: 2rem;
        }

        .socials-box:nth-of-type(1),
        .socials-box:nth-of-type(3) {
            transform: translateY(4rem); /* Desce 10px */
        }

        .socials-box-area img {
            width: 80px;
        }

        .socials-box-area ul li:nth-child(n + 2) {
            margin-left: -40px;
        }
    }

    .digitalisasi-section {
        h2 {
            font-size: 2.5rem;
            width: 70%;
        }
    }

    .tokens-section {
        .tokens-box-area {
            grid-template-columns: minmax(250px, 300px) minmax(250px, 300px);
            gap: 1.25rem;
            padding-inline: 1.25rem;
        }
    }

    .mentor-section {
        .mentor-box-area {
            grid-template-columns: 274px 274px;
            justify-content: center;
            gap: 2rem;
        }
    }
}

@media (min-width: 1024px) {
    section {
        padding-inline: 3.5rem;
    }

    .percent-section {
        flex-direction: row;
        gap: 4rem;
    }
    .percent-section > div:first-child {
        width: 50%;
    }

    .percent-section .pinks-cards-area {
        grid-template-columns: 1fr 1fr;
    }

    .socials-digitalisasi-wrapper {
        display: flex;
    }

    .digitalisasi-section {
        h2 {
            width: 100%;
        }
    }
    .tokens-section {
        .tokens-box-area {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .mentor-section .mentor-box-area {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonial-footer-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .testimonial-section {
            grid-column: 3 / -1;
            grid-row: 1 / 2;
        }

        .footer {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }

    .footer-links {
        display: flex;
        gap: 5rem;
        align-self: center;
        justify-self: center;
        grid-column: 3 /5;
        grid-row: 2 / 3;

        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}
